.themify_builder_977_row.module_row_0.module_row{background-image: url("https://themify.me/demo/themes/ultra-fitness/files/2016/10/PeopleImages.com-ID1175239-1400x858.jpg"); padding-top:15%; padding-bottom:15%; }
.themify_builder_977_row.module_row_0.module_row>.builder_row_cover{background-color:rgba(0,0,0, 0.3); }
@media screen and (max-width: 480px) {.themify_builder_977_row.module_row_0.module_row{padding-top:35%; padding-bottom:45%; }
}
.module_row_0 .module_column_0.tb_977_column.module_column,.module_row_0 .module_column_0.tb_977_column h1,.module_row_0 .module_column_0.tb_977_column h2,.module_row_0 .module_column_0.tb_977_column h3:not(.module-title),.module_row_0 .module_column_0.tb_977_column h4,.module_row_0 .module_column_0.tb_977_column h5,.module_row_0 .module_column_0.tb_977_column h6{color:#ffffff; }
.module_row_0 .module_column_0.tb_977_column.module_column{text-align: center; }
.themify_builder .fancy-heading-977-0-0-0.module .main-head{font-size:1.2em; }
.themify_builder .feature-977-0-0-1.module-feature{text-align: center; }
.themify_builder_977_row.module_row_1.module_row{padding-bottom:3%; }
.module_row_1 .module_column_0.tb_977_column.module_column,.module_row_1 .module_column_0.tb_977_column h1,.module_row_1 .module_column_0.tb_977_column h2,.module_row_1 .module_column_0.tb_977_column h3:not(.module-title),.module_row_1 .module_column_0.tb_977_column h4,.module_row_1 .module_column_0.tb_977_column h5,.module_row_1 .module_column_0.tb_977_column h6{color:#ffffff; }
.module_row_1 .module_column_0.tb_977_column.module_column{text-align: center; }
.themify_builder .box-977-1-0-0.module-box .module-box-content{padding-top:42px; padding-bottom:10px; }
.themify_builder .box-977-1-0-0.module-box{margin-top:-133px; margin-right:18%; margin-bottom:0px; margin-left:18%; }
@media screen and (max-width: 480px) {.themify_builder .box-977-1-0-0.module-box{margin-right:0px; margin-left:0px; }
}
.themify_builder_977_row.module_row_2.module_row{padding-top:1%; padding-bottom:3%; }
@media screen and (max-width: 480px) {.themify_builder_977_row.module_row_2.module_row{padding-top:10%; }
}
.themify_builder_977_row.module_row_3.module_row{padding-bottom:2%; }
@media screen and (max-width: 480px) {.module_row_3 .module_column_2.tb_977_column.module_column{padding-top:50px; }
}
.themify_builder_977_row.module_row_4.module_row{background-color:#222222; }
.themify_builder_977_row.module_row_4.module_row,.themify_builder_977_row.module_row_4 h1,.themify_builder_977_row.module_row_4 h2,.themify_builder_977_row.module_row_4 h3:not(.module-title),.themify_builder_977_row.module_row_4 h4,.themify_builder_977_row.module_row_4 h5,.themify_builder_977_row.module_row_4 h6{color:#ffffff; }
.themify_builder_977_row.module_row_4 a{color:#ffffff; }
.themify_builder .image-977-sub_row_4-0-0-0-0.module-image .image-content{font-size:1.5em; text-align: left; }
.themify_builder .image-977-sub_row_4-0-0-0-1.module-image .image-content{font-size:1.5em; text-align: left; }
.themify_builder .image-977-sub_row_4-0-0-1-0.module-image .image-content{font-size:1.5em; text-align: left; }
.themify_builder .image-977-sub_row_4-0-0-1-1.module-image .image-content{font-size:1.5em; text-align: left; }
.module_row_4 .module_column_1.tb_977_column.module_column{padding-top:4%; padding-right:6%; padding-bottom:4%; padding-left:6%; }
.themify_builder .text-977-4-1-0.module-text{text-align: center; }
.themify_builder .buttons-977-4-1-1 div.module-buttons{text-align: center; }
.themify_builder_977_row.module_row_5.module_row{padding-top:5%; padding-bottom:3%; }
@media screen and (max-width: 480px) {.themify_builder_977_row.module_row_5.module_row{padding-top:10%; }
}
.themify_builder .buttons-977-5-0-2 div.module-buttons{text-align: center; }
.themify_builder_977_row.module_row_6.module_row{padding-top:5%; padding-bottom:5%; }
.themify_builder .fancy-heading-977-6-0-0.module-fancy-heading{margin-bottom:30px; }
@media screen and (max-width: 480px) {.sub_column_post_977.sub_column_6-0-1-0.module_column{padding-bottom:50px; }
}
@media screen and (max-width: 480px) {.sub_column_post_977.sub_column_6-0-1-1.module_column{padding-bottom:50px; }
}
@media screen and (max-width: 480px) {.sub_column_post_977.sub_column_6-0-1-2.module_column{padding-bottom:50px; }
}
.themify_builder_977_row.module_row_7.module_row{background-color:#222222; }
.themify_builder_977_row.module_row_7.module_row,.themify_builder_977_row.module_row_7 h1,.themify_builder_977_row.module_row_7 h2,.themify_builder_977_row.module_row_7 h3:not(.module-title),.themify_builder_977_row.module_row_7 h4,.themify_builder_977_row.module_row_7 h5,.themify_builder_977_row.module_row_7 h6{color:#ffffff; }
.themify_builder_977_row.module_row_7 a{color:#ffffff; }
.module_row_7 .module_column_0.tb_977_column.module_column{padding-top:4%; padding-right:6%; padding-bottom:4%; padding-left:6%; }
.themify_builder .text-977-7-0-0.module-text{text-align: center; }
.themify_builder .buttons-977-7-0-1 div.module-buttons{text-align: center; }
.themify_builder .image-977-sub_row_7-1-0-0-0.module-image .image-content{text-align: center; }
.themify_builder .image-977-sub_row_7-1-0-1-0.module-image .image-content{text-align: center; }
@media screen and (max-width: 480px) {.themify_builder .image-977-sub_row_7-1-0-1-0.module-image .image-content{text-align: center; }
}
.themify_builder .image-977-sub_row_7-1-1-0-0.module-image .image-content{text-align: center; }
.themify_builder .image-977-sub_row_7-1-1-1-0.module-image .image-content{text-align: center; }
.themify_builder .image-977-sub_row_7-1-2-0-0.module-image .image-content{text-align: center; }
.themify_builder .image-977-sub_row_7-1-2-1-0.module-image .image-content{text-align: center; }
@media screen and (max-width: 480px) {.themify_builder .image-977-sub_row_7-1-2-1-0.module-image .image-content{text-align: center; }
}
.themify_builder_977_row.module_row_8.module_row{padding-top:5%; padding-bottom:2%; }
@media screen and (max-width: 480px) {.themify_builder_977_row.module_row_8.module_row{padding-top:10%; }
}
.themify_builder .text-977-8-0-1.module-text{text-align: center; padding-right:14%; padding-left:14%; }
.module_row_9 .module_column_0.tb_977_column.module_column,.module_row_9 .module_column_0.tb_977_column h1,.module_row_9 .module_column_0.tb_977_column h2,.module_row_9 .module_column_0.tb_977_column h3:not(.module-title),.module_row_9 .module_column_0.tb_977_column h4,.module_row_9 .module_column_0.tb_977_column h5,.module_row_9 .module_column_0.tb_977_column h6{color:#ffffff; }
.module_row_9 .module_column_0.tb_977_column.module_column{text-align: center; }
.themify_builder .box-977-9-0-0.module-box .module-box-content{padding-top:42px; padding-bottom:10px; }
.themify_builder .box-977-9-0-0.module-box{margin-right:18%; margin-bottom:-110px; margin-left:18%; }
@media screen and (max-width: 480px) {.themify_builder .box-977-9-0-0.module-box{margin-right:0px; margin-left:0px; }
}
