.themify_builder_2294_row.module_row_0 a{color:#03ff74; }
.themify_builder_2294_row.module_row_0.module_row{margin-bottom:15px; }
.module_row_0 .module_column_0.tb_2294_column.module_column{background-image: url("https://themify.me/demo/themes/builder-layouts/files/2018/05/watering-iphone.jpg"); text-align: left; padding-top:18%; padding-right:5px; padding-bottom:8%; padding-left:5%; }
.module_row_0 .module_column_0.tb_2294_column.module_column>.builder_row_cover{background-color:rgba(0,0,0, 0.53); }
.module_row_0 .module_column_0.tb_2294_column.module_column,.module_row_0 .module_column_0.tb_2294_column h1,.module_row_0 .module_column_0.tb_2294_column h2,.module_row_0 .module_column_0.tb_2294_column h3:not(.module-title),.module_row_0 .module_column_0.tb_2294_column h4,.module_row_0 .module_column_0.tb_2294_column h5,.module_row_0 .module_column_0.tb_2294_column h6{color:#ffffff; }
.themify_builder .text-2294-0-0-0.module-text{background-repeat: repeat; margin-bottom:10px; }
.themify_builder .text-2294-0-0-0.module-text h1{font-size:70px; line-height:74px; margin-top:0px; margin-bottom:.2em; }
.themify_builder .text-2294-0-0-1.module-text{background-repeat: repeat; font-size:1.3em; line-height:1.6em; }
.module_row_0 .module_column_1.tb_2294_column.module_column{background-color:#000000; padding:3%; }
.module_row_0 .module_column_1.tb_2294_column.module_column,.module_row_0 .module_column_1.tb_2294_column h1,.module_row_0 .module_column_1.tb_2294_column h2,.module_row_0 .module_column_1.tb_2294_column h3:not(.module-title),.module_row_0 .module_column_1.tb_2294_column h4,.module_row_0 .module_column_1.tb_2294_column h5,.module_row_0 .module_column_1.tb_2294_column h6{color:#ffffff; }
.module_row_0 .module_column_1.tb_2294_column a{color:#d5ff00; }
@media screen and (max-width: 480px) {.module_row_0 .module_column_1.tb_2294_column.module_column{padding-top:15px; padding-right:20px; padding-bottom:15px; padding-left:20px; }
}
.themify_builder .text-2294-0-1-0.module-text{background-repeat: repeat; margin-bottom:10px; }
.themify_builder_2294_row.module_row_1.module_row{margin-bottom:15px; }
@media screen and (max-width: 480px) {.themify_builder .image-2294-1-0-0.module-image{margin-bottom:15px; }
}
@media screen and (max-width: 480px) {.themify_builder .image-2294-1-1-0.module-image{margin-bottom:15px; }
}
.themify_builder_2294_row.module_row_2.module_row{margin-bottom:15px; }
@media screen and (max-width: 480px) {.themify_builder_2294_row.module_row_2.module_row{margin-bottom:15px; }
}
.module_row_2 .module_column_0.tb_2294_column.module_column{background-color:#000000; text-align: center; padding-top:5%; padding-right:3%; padding-bottom:3%; padding-left:3%; }
.module_row_2 .module_column_0.tb_2294_column.module_column,.module_row_2 .module_column_0.tb_2294_column h1,.module_row_2 .module_column_0.tb_2294_column h2,.module_row_2 .module_column_0.tb_2294_column h3:not(.module-title),.module_row_2 .module_column_0.tb_2294_column h4,.module_row_2 .module_column_0.tb_2294_column h5,.module_row_2 .module_column_0.tb_2294_column h6{color:#ffffff; }
.module_row_2 .module_column_0.tb_2294_column a{color:#ffffff; }
@media screen and (max-width: 480px) {.module_row_2 .module_column_0.tb_2294_column.module_column{padding-right:20px; padding-left:20px; }
}
.themify_builder .text-2294-2-0-0.module-text{margin-bottom:10px; }
@media screen and (max-width: 480px) {.themify_builder .image-2294-2-1-0.module-image{margin-top:15px; }
}
@media screen and (max-width: 480px) {.themify_builder .image-2294-3-0-0.module-image{margin-bottom:15px; }
}
@media screen and (max-width: 480px) {.themify_builder .image-2294-3-1-0.module-image{margin-bottom:15px; }
}
.themify_builder .image-2294-3-2-0.module-image{margin-bottom:15px; }
@media screen and (max-width: 480px) {.themify_builder .image-2294-3-2-0.module-image{margin-bottom:15px; }
}
@media screen and (max-width: 480px) {.themify_builder .image-2294-3-2-1.module-image{margin-bottom:15px; }
}
